*{
    padding: 2px;
    box-sizing: border-box; 
}

@font-face {
    font-family: "CK3";
    src: url(../Manhattan-Proyect/Fonts/Missale\ AS\ Lunea.ttf);
}

@font-face {
    font-family: "EU4";
    src: url(../Manhattan-Proyect/Fonts/TrajanPro-Regular.ttf);
}

@font-face {
    font-family: "Stellaris";
    src: url(../Manhattan-Proyect/Fonts/Orbitron/static/Orbitron-Regular.ttf);
}

@font-face {
    font-family: "Letra más normal";
    src: url(../Manhattan-Proyect/Fonts/ProductSans.woff2);
}

 @font-face {
     font-family: "Roboto";
     src: url(../Manhattan-Proyect/Fonts/Roboto-Regular.ttf);
 }

 body { 
    font-size: 18px;
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: "Roboto", Arial;
    margin: 0px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center ;
    margin: 20 ;
    background-color: rgba(0, 0, 0, 0.209) ;
}

#logo {
    width:  40px;
}

nav {
    background-color: transparent;
}

nav ol {
    display: flex;
}

nav ol li {
    margin: 0px 16px;
    list-style: none;
}

nav ol li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Letra más normal", Arial;
}

#Videito {
    position: absolute;
    right: 150px;
    top: 200px;
}

#descripción {
    flex: 0 0 50%;
    padding: 0 10px 0 0;
    width: 50%;
    margin-bottom: 0;
    margin-left: 50px;
}

#titulo {
    margin-left: 35px;
}

#info_principal {
    background-image: url(../Images/Hoi4/hearts-of-iron-4-1080P-wallpaper-middle-size.jpg);
    padding: 80px;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-position-x: right ;
    background-size: cover;
}

.container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 100%;
    -ms-flex-align: center;
    margin-bottom: -20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    margin-left: 120px;
}

#hoi4logo {
    width: 60%;
}

#cositasporlascualesmecomplicolavida {
    -ms-flex: 1 0 calc(100% - 76px);
    flex: 1 0 calc(100% - 76px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

#cosito {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0;
    color: #f6f6f6;
}

#cosito {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    border-top: 1px solid #282828;
}

#cosito_recargado {
    font-size: 1em;
    line-height: 1.2em;
    text-transform: uppercase;
    display: inline-block;
    color: #adadad;
}

#implogo{
    margin-left: 96.5%;
} 

.content {
    transition: opacity .4s ease;
    box-sizing: border-box;
    opacity: 1;
    margin-right: auto;
    margin-left: auto;
}

#formato {
    position: relative;
    text-align: center;
    margin: auto;
    max-width: 550px;
}

#amarillo {
    left: auto;
    transform: none;
    color: #e5d195;
    position: relative;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14286em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 70%;
    border-bottom: 1px solid #e5d195;

}

#Title2 {
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    font-size: 45px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

}

#Texto {
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 18px;
    line-height: 24px;
    color: #adadad;
    text-align: center;
}

#amarillo2 {
    left: auto;
    transform: none;
    color: #e5d195;
    position: relative;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14286em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 70%;
    text-align: center;
}

#fondo {
    background-image: url(../Images/Hoi4/hoiiv-base-pdp-top.jpg);
    background-repeat: no-repeat;
    background-position-x: left ;
    background-size: cover;
}

#amarillo3 {
    left: auto;
    transform: none;
    color: #e5d195;
    position: relative;
    font-style: normal;
    font-weight: 400;
    line-height: 1.14286em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

#image {
    width: 500px;
}