 *{
     margin: 10px;
     padding: 2px;
     box-sizing: border-box; 
 }

@font-face {
    font-family: "CK3";
    src: url(../Manhattan-Proyect/Fonts/Missale\ AS\ Lunea.ttf);
}

@font-face {
    font-family: "EU4";
    src: url(../Manhattan-Proyect/Fonts/TrajanPro-Regular.ttf);
}

@font-face {
    font-family: "Stellaris";
    src: url(../Manhattan-Proyect/Fonts/Orbitron/static/Orbitron-Regular.ttf);
}

@font-face {
    font-family: "Letra más normal";
    src: url(../Manhattan-Proyect/Fonts/ProductSans.woff2);
}

 @font-face {
     font-family: "Roboto";
     src: url(../Manhattan-Proyect/Fonts/Roboto-Regular.ttf);
 }

body { 
    font-size: 18px;
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: "Roboto", Arial;
    margin: 0px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center ;
    margin: 20 ;
    background-color: rgba(0, 0, 0, 0.209) ;
}

#logo {
    width:  40px;
}

nav {
    background-color: transparent;
}

nav ol {
    display: flex;
}

nav ol li {
    margin: 0px 16px;
    list-style: none;
}

nav ol li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Letra más normal", Arial;
}

#container {
    margin: 0px;
    padding: 35px;
}

#about {
    height: 50vh;
    margin: 0px;
    padding: 35px;
}

.bg-primary {
    background-color: rgb(34, 34, 34);
}

.flex-container {
    display: flex;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
} 

.flex {
    flex: 1;
}

#hero {
    width: 100%;
    height: 640px;
    background: linear-gradient(transparent, rgb(26, 26, 26)), url(../Manhattan-Proyect/Images/Stellaria/descarga.jpeg);
    position: absolute;
    z-index: -1;
    background-size: cover;
}

#video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

#video-container iframe {
    position: absolute;
    top: 0;
    right: 10;
    bottom: 0;
    margin: 64px ;
    width: 80%;
    height: 80%;
}
